table,th,td,tr {
    border: 2px solid black;
    border-collapse: collapse;
    color:royalblue;
    font-size:17px;
  }
  th {
    padding:10px;
  }
  table {
    width:35%;
  }
  .empty{
    background-color:lightskyblue;
  }
  .missing{
    background-color:gold;
  }
  #me{
    background-color:lime;
  }
  .tanar{
    color: orangered;
    text-align: center;
  }